@import "tailwindcss";

:root {
  --background: #151313;
  --foreground: #e9d3d3;
  --border: #3f3939;
  --animation: #6a6060;
  --animation-secondary: #948686;
  --extra: #bfadad;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-animation: var(--animation);
  --color-animation-secondary: var(--animation-secondary);
  --color-extra: var(--extra);
  --font-sans: var(--font-space-grotesk);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}
